backports-abc==0.4
Box2D==2.3.1
cycler==0.10.0
decorator==4.0.10
ipykernel==4.3.1
ipython==5.0.0
ipython-genutils==0.1.0
ipywidgets==5.1.5
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.3.0
jupyter-console==5.0.0
jupyter-core==4.1.0
MarkupSafe==0.23
matplotlib==1.5.1
mistune==0.7.2
nbconvert==4.2.0
nbformat==4.0.1
notebook==4.2.1
numpy==1.11.1
path.py==0.0.0
pexpect==4.0.1
pickleshare==0.7.2
prompt-toolkit==1.0.3
ptyprocess==0.5.1
pygame==1.9.2.dev1
Pygments==2.1.3
pyparsing==2.1.4
python-dateutil==2.5.3
pytz==2016.4
pyzmq==15.2.0
qtconsole==4.2.1
simplegeneric==0.8.1
six==1.10.0
terminado==0.6
tornado==4.3
traitlets==4.2.1
wcwidth==0.1.7
widgetsnbextension==1.2.3
